.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
   
  }
  .pagination > .active > a{
    background-color: transparent;
    
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde23; ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    padding: 15px;
  }

  .pagination >li :hover
  {
    background-color: #5353539f ;
    text-decoration: none;
    color : orange;
  }

  .pagination > .active > a{
    background-color: #5c5c5c ;
  
    outline: none ;
  }
 
  .break-me 
  {
    color: transparent;
  }


*
{
  scroll-behavior: smooth;
}

.LinkClassPagination
{
  color : orange;
  background-color: #333333;
 
}

.LinkClassPagination :hover
{
text-decoration: none;
  
}